html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.content {
  flex: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: "inherit";
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}
